<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This Original Work is copyright of 51 Degrees Mobile Experts Limited.
  ~ Copyright 2022 51 Degrees Mobile Experts Limited, Davidson House,
  ~ Forbury Square, Reading, Berkshire, United Kingdom RG1 3EU.
  ~
  ~ This Original Work is licensed under the European Union Public Licence
  ~  (EUPL) v.1.2 and is subject to its terms as set out below.
  ~
  ~  If a copy of the EUPL was not distributed with this file, You can obtain
  ~  one at https://opensource.org/licenses/EUPL-1.2.
  ~
  ~  The 'Compatible Licences' set out in the Appendix to the EUPL (as may be
  ~  amended by the European Commission) shall be deemed incompatible for
  ~  the purposes of the Work and the provisions of the compatibility
  ~  clause in Article 5 of the EUPL shall not apply.
  ~
  ~   If using the Work as, or as part of, a network application, by
  ~   including the attribution notice(s) required under Article 5 of the EUPL
  ~   in the end user terms of the application under an appropriate heading,
  ~   such notice(s) shall fulfill the requirements of that article.
  -->

<!-- This is an example of setting maven variables using your local
settings.xml - see https://maven.apache.org/settings.html for location etc.

These maven variables are set to system properties by the maven surefire
test configuration in the standard project root POM and can hence be picked
up automatically by tests.

This does not affect the operation of the examples when launched via
their "main" method, where the resource key needs to be supplied as
a command line parameter, or by setting environment variables using
your IDE launch configuration or your operating system shell.
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>test-keys</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- a resource key configured for executing the tests and
                examples in this source distribution may be configured at
                https://configure.51degrees.com/jqz435Nc -->
                <TestResourceKey><!-- your resource key --></TestResourceKey>
            </properties>
        </profile>
    </profiles>
</settings>