<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Pipeline</filter-name>
        <filter-class>fiftyone.pipeline.web.PipelineFilter</filter-class>
        <init-param>
            <param-name>clientside-properties-enabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/WEB-INF/51Degrees-Hash.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Pipeline</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>fiftyone.pipeline.web.examples.servlet.Example</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
